<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androlua" >
    <application>
        <provider
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/androlua_filepaths"/>
        </provider>
    </application>
</manifest>