<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhihu.hydrogen">

    <!-- 查看 WLAN 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 修改或删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 读取存储卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.androlua.LuaApplication"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Jesse205.Default">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4"/>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true"
            android:name="com.Jesse205.superlua.Main"
            android:theme="@style/Theme.Jesse205.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            android:exported="true"
            android:name="com.Jesse205.superlua.LuaActivity"/>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:exported="true"
            android:name="com.Jesse205.superlua.LuaActivityX"/>

        <activity
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|navigation|screenLayout|fontScale|smallestScreenSize|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:name="com.Jesse205.superlua.Welcome"
            android:theme="@style/Theme.Jesse205.Welcome"/>

        <provider
            android:authorities="com.zhihu.hydrogen"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.content.FileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/androlua_filepaths"/>

        </provider>

    </application>

</manifest>